<!-- Template used to render the API Product documentation -->
{{ $cookies := (req).Header.Get "Cookie" }}
{{ $supportedLangs := list "en" "ar" "fr" "es" }}
{{ $lang := "en" }}
{{ range $supportedLangs }}{{ if regexMatch (printf "tdp_locale=%s" .) $cookies }}{{ $lang = . }}{{ end }}{{ end }}
<div class="docs-container">
  <div class="card mt-4">
    <div class="card-body">
      <h3 class="card-title"><a href="/portal/catalogue-products/{{.Path}}">{{.Name}}</a></h3>
      <p class="card-text">
        {{.Description}}
      </p>
    </div>
  </div>
  <div>
    {{ if gt (.Url | length) 0}}
    <redoc spec-url='{{.Url}}' scroll-y-offset='.navbar'></redoc>
    {{ else }}
    <h1>{{ index (dict "en" "No swagger doc set for this API" "ar" "لا يوجد مستند swagger محدَّد لواجهة API هذه" "fr" "Aucun document swagger défini pour cette API" "es" "No hay ningún documento swagger definido para esta API") $lang }}</h1>
    {{ end }}
  </div>
</div>

